html {
            padding: 0;
	    background-color: #1f1f1f !important;
	    background-image: url('banner.png');
            background-repeat: no-repeat;
            bottom: 0;
            left: 0;
            overflow: auto;
            position: absolute;
            right: 0;
            text-align: center;
            top: 0;
            background-position: center;
            background-size: cover;
        }
@media (max-width: 767px)  {
html {
            padding: 0;
	    background-color: #1f1f1f !important;
	    background-image: url('banner-2.png');
            background-repeat: no-repeat;
            bottom: 0;
            left: 0;
            overflow: auto;
            position: absolute;
            right: 0;
            text-align: center;
            top: 0;
            background-position: center;
            background-size: cover;
        }
	}
        
       img {
	   max-width:100%;
           height:auto;
       }

        body {
            margin: 0;
            padding: 0;
        }

        #home img {
            position: absolute;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            top: 0;
            bottom: 0;
            margin-bottom: auto;
            margin-top: auto;
        }
/* NEXTBTN INICIO
   ========================================================================== */
/**
        #nextBtn {
            position: fixed;
            transform: rotate(-90deg) scale(3);
            right: 40px;
            top: 300px;
            cursor: pointer;
        }

        #nextBtn:hover {
            animation: shake 500ms ease-in-out;
        }
        @media (max-width: 767px)  {
	#nextBtn {
            position: fixed;
            transform: rotate(-90deg) scale(3);
            right: 40px;
            top: 100px;
            cursor: pointer;
        }
        }
/* NEXTBTN FIM
   ========================================================================== */
/**

/* LASTBTN INICIO
   ========================================================================== */
/**
        #lastBtn {
            position: fixed;
            transform: rotate(90deg) scale(3);
            left: 40px;
            top: 300px;
            cursor: pointer;
        }
        #lastBtn:hover {
            animation: shakeLeft 500ms ease-in-out;
        }

        @media (max-width: 767px)  {
	#lastBtn {
            position: fixed;
            transform: rotate(90deg) scale(3);
            left: 40px;
            top: 100px;
            cursor: pointer;
        }
	}

/* LASTBTN FIM
   ========================================================================== */
/**


        @keyframes shake {
            0% {
                transform: rotate(-90deg) scale(3);
            }
            33% {
                transform: rotate(-135deg) scale(3);
            }
            66% {
                transform: rotate(-45deg) scale(3);
            }
            100% {
                transform: rotate(-90deg) scale(3);
            }
        }

        @keyframes shakeLeft {
            0% {
                transform: rotate(90deg) scale(3);
            }
            33% {
                transform: rotate(135deg) scale(3);
            }
            66% {
                transform: rotate(45deg) scale(3);
            }
            100% {
                transform: rotate(90deg) scale(3);
            }
        }

        @keyframes pulse {
            from {
                transform: scale(1.1);
            }
            to {
                transform: scale(0.95);
            }
        }

        .pulse {
            animation: pulse 3s cubic-bezier(.17, .67, .83, .67) infinite alternate;
        }

        #impress {
            color: floralwhite;
            text-decoration: underline;
            position: absolute;
            bottom: 5%;
            left: 1%;
            cursor: pointer;
        }

        #modwrap {
            background-color: hsla(0, 0%, 90%, 0.75);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
        }

        .hidden {
            display: none;
        }

        #modal {
            width: 35%;
            height: 40%;
            background: hsla(203, 89%, 75%, .3);
            position: absolute;
            top: 20%;
            left: 32.5%;
            text-align: center;
            color: floralwhite;
            font-size: 1.5em;
            border-radius: 30px;
        }

        #closeMod {
            width: 25%;
            height: 17.5%;
            background: hsla(203, 89%, 75%, .3);
            margin: 0 auto;
            cursor: pointer;
            color: floralwhite;
        }

        #firstWarning {
            color: floralwhite;
            background: hsla(0, 53%, 58%, 1);
            border-radius: 25px;
            line-height: 25px;
            height: 25px;
            display: none;
            width: 100px;
            position: absolute;
            top: 160;
            left: 3;
            text-align: center;
        }

        #output {
            position: fixed;
            transition: all 500ms;
        }
        
        .video-wrapper {
	    position: relative;
  	    width: 100%;
	    margin: rem-calc(0 0 54.5);
	    min-height: rem(500);
     	overflow: hidden;
        }
